<a href="https://colab.research.google.com/github/forget0515/Chatbot/blob/master/20190806.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
vector = np.array([1,2,3,4])
matrix = np.array([[1,'Tom'],[2,'Joay'],[3,'Johnry'],4,'Frank'])
print(vector)
print(matrix)

[1 2 3 4]
[list([1, 'Tom']) list([2, 'Joay']) list([3, 'Johnry']) 4 'Frank']

In [3]:
a = np.arange(15).reshape(3,5)
print(a.ndim)
print(a.shape)
print(a.size)

2
(3, 5)
15